:root {
  --color-blue: hsl(223, 87%, 63%);
  --color-blue-light: hsl(223, 100%, 88%);
  --color-red: hsl(354, 100%, 66%);
  --color-gray: hsl(0, 0%, 59%);
  --color-dark-blue: hsl(209, 33%, 12%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* if default browser font is 16px, this sets it to 10px (1rem = 10px) */
}

body {
  font-size: 2rem;
  font-family: 'Libre Franklin', sans-serif;
  color: var(--color-dark-blue);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 8.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 14vw;
  min-width: 5.2rem;
  max-width: 8.6rem;
}

.heading {
  text-align: center;
}

.heading--main {
  min-height: 0vw;
  font-weight: 300;
  color: var(--color-gray);
  font-size: min(5.9vw, 4.8rem);
  margin-top: min(16.5%, 4.9rem);
}

.heading--bold {
  font-weight: 700;
  color: var(--color-dark-blue);
}

.heading--sub {
  min-height: 0vw;
  font-weight: 300;
  font-size: min(3.2vw, 2rem);
  margin-top: 1.7rem;
}

.subscribe-form {
  min-height: 0vw;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: min(8.5vw, 4rem);
  height: 9rem;
  width: 75%;
  max-width: 64rem;
}

.email-container {
  display: flex;
  flex-direction: column;
  flex: 3 1 30rem;
}

input[type="email"],
.btn {
  font-family: inherit;
  outline: none;
  border-radius: 6rem;
  transition: all .3s;
}

input[type="email"] {
  font-size: 1.2rem;
  font-family: inherit;
  border: 1px solid var(--color-blue-light);
  padding: 1.1rem 0 1.2rem 3.2rem;
  margin-bottom: .9rem;
}

input[type="email"]::-webkit-input-placeholder,
input[type="email"]::placeholder {
  color: hsl(223, 28%, 72%);
}

input[type="email"]:focus {
  box-shadow: 0 0 2px var(--color-blue-light);
}

input[type="email"]:invalid {
  border: 1px solid var(--color-red);
  box-shadow: none;
}

input[type="email"]:invalid~.error-message {
  max-height: 6rem;
  margin-bottom: 2rem;
  opacity: 1;
}

.error-message {
  font-size: 1.2rem;
  font-style: italic;
  color: var(--color-red);
  text-align: center;
  transition: all .3s;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.btn {
  border: none;
  background-color: var(--color-blue);
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  padding: 1.3rem 0;
  box-shadow: 0 .7rem 1rem rgb(79, 125, 243, .2);
  flex: 1 1 15.5rem;
}

.btn:hover,
.btn:focus {
  background-color: hsl(223, 87%, 69%);
}

.btn:active {
  transform: translateY(.1rem);
  box-shadow: none;
}

.illustration {
  max-width: 64rem;
  margin-top: 6.8rem;
  width: 85%;
}

footer {
  margin-top: 12rem;
  margin-bottom: 3rem;
}

.footer__social {
  display: flex;
  justify-content: center;
}

.footer__icon {
  border: 1px solid var(--color-blue-light);
  border-radius: 50%;
  padding: .8rem;
  margin: 0 .6rem;
  display: flex;
  transition: all .4s;
  cursor: pointer;
}

.footer__icon svg {
  height: 1.4rem;
  width: auto;
}

.color-change {
  fill: var(--color-blue);
}

.footer__icon:hover {
  border: 1px solid var(--color-blue);
  background-color: var(--color-blue);
}

.footer__icon:hover * .color-change {
  fill: #fff;
  transition: all .4s;
}

.footer__copy {
  min-height: 0vw;
  margin-top: 2.7rem;
  color: var(--color-gray);
  font-size: min(2.67vw, 1.2rem);
  text-align: center;
}

@media only screen and (min-width: 607px) {
  input[type="email"] {
    font-size: 1.4rem;
    padding: 1.8rem 0rem 1.8rem 3rem;
    margin-right: 1.5rem;
  }

  .error-message {
    text-align: left;
    margin-left: 3rem
  }

  .btn {
    font-size: 1.6rem;
    padding: 1.8rem 0;
  }

  .illustration {
    margin-top: 5rem;
  }

  footer {
    margin-top: 7.2rem;
  }
}